@font-face {
  font-family: OpenSans-Regular;
  src: url('./OpenSans-Regular.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

html { 
  background: url('./tree.jpeg') no-repeat center center fixed!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.column-name{
  text-transform: capitalize;
}

.title-report{
  font-family: OpenSans-Regular;
  font-size: 25px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  color: white;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  margin: auto;
}

.loading-div{
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  color: white;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 10px;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: url('./tree.jpeg') no-repeat center center fixed!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column{
  text-align: center!important;
}

.column1 {
  width: 150px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 140px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}